//$primary : #eee;
$footer :#B9B7BD;
$secondary : #486dbd86;
$button:#486dbd;
$sidebar :#fff;
$hover:#486dbd3d;
$active :#001E6C;
$active_2 : #486dbd;
$element:#5089C6;
$activeTab:#d0e3fb;
$background:#f6f7f9;
$boxshadow:#ededed;
$redcolor:#f3677f;
$redhover:#c80223c5;
